[user]
	name = Injamul Mohammad Mollah
	email = mrinjamul@gmail.com
	signingkey = C2C4311DA84D35EE11D279D1D6CD597F29ADABE3
[color]
	ui = true
	status = auto
	branch = auto
[cola]
	spellcheck = false
[core]
	excludesfile = /home/injamul/.gitignore
[alias]
	st = status -sb
	last = log -1 HEAD --stat
	ll = log --oneline
	scommit = commit -S -m
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	aa = add -A
	sloc = !git ls-files | xargs wc -l
	clb = clone --bare
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	clbr = !git branch --merged | grep -v \\* | xargs git branch -D
[github]
	user = mrinjamul
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
